.payment-card {
    background: var(--secondary-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    width: calc(50% - 16px);
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    box-sizing: border-box;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.05);

    /* мягкий объем — тень сверху и снизу */
    box-shadow:
            inset 1px 1px 2px rgba(255, 255, 255, 0.03),
            inset -2px -2px 4px rgba(0, 0, 0, 0.4),
            0 4px 12px rgba(0, 0, 0, 0.5);

    transition: all 0.3s ease;
}

.payment-card:hover {
    background: rgba(40, 40, 40, 0.95);
    box-shadow:
            inset 2px 2px 4px rgba(255, 255, 255, 0.04),
            inset -3px -3px 5px rgba(0, 0, 0, 0.6),
            0 6px 18px rgba(0, 0, 0, 0.6);
    transform: translateY(-2px);
    cursor: pointer;
}

.card-line {
    color: var(--text-color);
    font-size: 14px;
    text-align: center;
    opacity: 0.9;
}

.bold {
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
}

.divider {
    font-size: 18px;
    color: var(--text-color);
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
    opacity: 0.8;
}
