.energy-container{
    width: 100%;
}

.status-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    border-radius: 10px;
    padding: 16px;
    gap: 10px;
}

.donat-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}