.start-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/srart1.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.start-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 36, 43, 0.2);
    z-index: 1;
}

.start-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;   /* Центрирует по вертикали */
    align-items: center;       /* Центрирует по горизонтали */
    text-align: center;        /* по желанию — центрирует текст */
}

.start-top {
    text-align: center;
    position: relative;
    top: -50px;
}

.start-bottom {
    position: absolute;
    bottom: 0;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin: 20px;
}

.start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    margin: 20px;
}

.back-button {
    background: none;
    border: none;
    color: var(--primary-color); /* можно заменить на нужный цвет */
    font-size: 16px;
    padding: 8px;
}
.back-button:hover {
    text-decoration: none;
    opacity: 0.8;
}