.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.label {
    font-weight: 600;
}

.value {
    text-align: right;
}

.user_data {
    width: 100%;
    padding: 16px;
}