.radio-group {
    display: flex;
    gap: 20px;
    margin: 10px 0;
}

.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 14px;
    position: relative;
    padding-left: 25px;
    user-select: none;
    opacity: 0.6;
}

.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-custom {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.radio-label input:checked ~ .radio-custom {
    background-color: var(--primary-color);
    box-shadow: inset 0 0 0 4px #000;
}
